@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

//LOAD FONTS PROXIMA NOVA
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Bold.otf);
  font-weight: 700;
}

/* GLOBAL SETTING LAYOUT */
$borde-radius: 30px;
$font-bold: 700;
$bg-gray: #f7f7f7;
$padding-90: 90px 0;

* {
  -webkit-tap-highlight-color: transparent;
}

.bg-gray {
  background-color: $bg-gray;
}
.bg-white {
  background-color: #ffffff;
  .sticky {
    background-color: #ffffff;
  }
}

.btn {
  background: #79b867;
  border-radius: $borde-radius;
  color: #ffffff;
  display: block;
  font-size: 26px;
  font-weight: $font-bold;
  max-width: 450px;
  line-height: 63px;
  text-align: center;
  &.outline {
    background-color: transparent;
    border: 1px solid #4c4c4c;
    color: #4c4c4c;
    &:hover {
      background-color: #4c4c4c;
    }
  }
  &:hover {
    background: #000000;
    color: #ffffff;
  }
}

// REMOVE FOCUS
*,
img,
button {
  &:focus {
    outline: none;
  }
}
.button {
  margin: 0;
  &:focus {
    outline: none;
  }
}

/* MODAL YOUTUBE */
#youtubeModal {
  border: 0;
  height: auto;
  min-height: auto;
  padding: 15px 15px 10px;
}
.reveal {
  height: 100%;
  min-height: auto;
  max-height: 500px;
  overflow-y: hidden;
  iframe {
    height: 100%;
    max-height: 100%;
  }
}

/* SEARCH BOX */
.searchform {
  display: block;
  width: 350px;
  position: absolute;
  right: 0;
  margin-top: 10px;
  z-index: 9999;
  background: #fff;
  padding: 10px;
}
/* SEARCHPAGE AND FORM*/
.searchform {
  &.searchform.fixed {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
  }
  .search-form {
    display: flex;
    input {
      background: #f8f8f8;
      border: none;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
    }
    input.search-submit {
      background: #79b867;
      color: #ffffff;
      cursor: pointer;
      font-size: 13px;
      line-height: 39px;
      padding: 0 15px;
      transition: all 0.3s;
      text-transform: uppercase;
      &:hover {
        background: #000000;
      }
    }
  }
}

/* HEADER */
header {
  background-color: #f8f8f8;
  .grid-x {
    min-height: 175px;
  }
  .sticky {
    background-color: #f8f8f8;
    &.is-stuck {
      box-shadow: 0px 0px 10px 0px #0303036b;
      z-index: 11;
      .grid-x {
        min-height: 105px;
      }
    }
  }
  .tryfree a {
    background: #79b867;
    border: 2px solid #79b867;
    border-radius: $borde-radius;
    color: #ffffff;
    font-weight: $font-bold;
    line-height: 42px;
    margin: 0 15px;
    padding: 0 45px !important;
    &:hover {
      background: #000000;
      border-color: #000000;
      color: #ffffff;
    }
  }
  .login a {
    border-radius: $borde-radius;
    border: 2px solid #79b867;
    color: #79b867;
    line-height: 42px;
    min-width: 170px;
    padding: 0 45px !important;
    text-align: center;
    &:hover {
      background: #79b867;
      color: #ffffff;
    }
  }
}
nav {
  font-size: 18px;
  ul {
    list-style: none !important;
    li {
      align-items: center;
      list-style: none !important;
    }
  }
  a {
    color: #000000;
    line-height: 42px !important;
    padding: 0 25px !important;
    &:hover {
      color: #79b867;
    }
  }
}

/* TYPING TEXT */
.typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* HOME - BANNER */
.home-banner {
  background-image: url("../img/bg-vectors-1.png");
  background-position: center 10%;
  background-repeat: no-repeat;
  h1 {
    font-size: 66px;
    font-weight: $font-bold;
    margin-top: 85px;
    white-space: nowrap;
  }
  p {
    font-size: 21px;
    margin-bottom: 40px;
  }
  .btn {
    margin-bottom: 50px;
    max-width: 370px;
    width: 100%;
  }
  .dropsmith-video {
    float: right;
    max-width: 555px;
    position: relative;
    .responsive-embed {
      margin: 30px 17px 20px;
      max-width: calc(100% - 34px);
      pointer-events: none;
      position: absolute;
      width: 100%;
    }
    .play {
      cursor: pointer;
      margin-left: -28.5px;
      left: 50%;
      position: absolute;
      top: 30%;
    }
  }
}

/* HOME TESTIMONIALS */
.testimonials {
  .grid-x {
    padding: $padding-90;
  }
  .owl-thumbs {
    font-size: 0;
    text-align: center;
    &:focus {
      outline: none;
    }
    .owl-thumb-item {
      cursor: pointer;
      opacity: 0.5;
      margin: 0 11px 11px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .box-testimonials {
    font-size: 22px;
    margin: 0 auto;
    max-width: 935px;
    text-align: center;
    padding: 70px 0 0 0;
    &:before {
      content: url("../img/icon-quote.png");
      left: 20px;
      margin-top: -20px;
      pointer-events: none;
      position: absolute;
    }
    &:after {
      content: url("../img/icon-quote.png");
      right: 20px;
      margin-top: -150px;
      pointer-events: none;
      position: absolute;
      transform: rotate(180deg);
    }
    .description {
      line-height: 30px;
      padding-bottom: 35px;
    }
    .author {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
    .job-description {
      color: #686868;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

/* GLOBAL DATABASE */
.global-database {
  background-image: url("../img/bg-vectors-2.png");
  background-position: center 30%;
  background-repeat: no-repeat;
  .grid-x {
    padding: $padding-90;
  }
  h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 70px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 50px;
  }
  .btn {
    margin: 0 auto;
    max-width: 425px;
  }
}

/* MILESTONES API */
.milestone {
  position: relative;
  margin: 0 auto;
  max-width: 260px;
  padding: 40px 0 0 0;
  &:before {
    content: "";
    opacity: 0.26;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .counting {
    font-size: 72px;
    font-weight: 700;
    line-height: 85px;
  }
  p {
    font-size: 20px;
    font-weight: 700;
  }
  &.lovers {
    &:before {
      content: url("../img/img-milestone-1.png");
    }
    p {
      color: #75b226;
    }
  }
  &.unique {
    &:before {
      content: url("../img/img-milestone-2.png");
    }
    p {
      color: #3895c0;
    }
  }
  &.references {
    &:before {
      content: url("../img/img-milestone-3.png");
    }
    p {
      color: #764dc0;
    }
  }
}

/* CONTACT */
.contact {
  .grid-x {
    padding: $padding-90;
  }
  h2 {
    color: #32442d;
    font-size: 30px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    max-width: 760px;
    margin: 0 auto;
  }
  .btn {
    font-size: 24px;
    font-weight: 400;
    margin: 30px auto 0;
    max-width: 425px;
  }
}

/* FOOTER */
footer {
  position: relative;
  &:after {
    content: url("../img/img-leaves.png");
    pointer-events: none;
    position: absolute;
    right: 1370px;
    top: -200px;
    z-index: 1;
  }
  &:before {
    content: url("../img/img-bottle.png");
    left: 1600px;
    pointer-events: none;
    position: absolute;
    top: -150px;
    z-index: 1;
  }
  .grid-x {
    padding: 90px 0 45px;
  }
  .copyright {
    color: #434343;
    font-size: 18px;
    font-weight: 700;
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    color: #484848;
  }
  nav {
    .menu {
      margin: 35px 0;
      li {
        font-size: 18px;
        &:after {
          content: ".";
        }
        &:last-child:after {
          content: "";
        }
      }
      a {
        color: #434343;
        padding: 0.7rem 22px;
        &:hover {
          color: #79b867;
        }
      }
    }
  }
}

/* PAGE - PRINCING */
.pricing {
  background-image: url("../img/bg-vectors-3.png");
  background-position: center 25%;
  background-repeat: no-repeat;
  .grid-x {
    padding: 45px 0 90px;
  }
  h1 {
    color: #4c4c4c;
    font-size: 30px;
    margin-bottom: 50px;
  }
  h2 {
    color: #4c4c4c;
    font-size: 36px;
    margin: 70px 0;
  }
}
// BOX PRICING
#pricing {
  .box {
    background-color: #ededed;
    border-radius: 12px;
    font-size: 18px;
    margin-top: 45px;
    &.yearly {
      margin-top: 6px;
      &::before {
        content: url("../img/img-badge.png");
        pointer-events: none;
        position: absolute;
        right: -6px;
        top: 0px;
      }
      .data {
        padding: 30px;
        h2 {
          margin: 40px 0 5px;
        }
        h3 {
          margin: 0;
        }
        span {
          color: #db0080;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
      .infos {
        padding: 30px;
        ul {
          margin: 0 15px 40px;
        }
      }
      .btn {
        background-color: #db0080;
        border-color: #db0080;
        &:hover {
          background-color: #ffffff;
          border-color: #db0080;
          color: #db0080;
        }
        &.started {
          background-color: #db0080;
          border-color: #db0080;
          color: #ffffff;
          &:hover {
            background-color: #ffffff;
            border-color: #db0080;
            color: #db0080;
          }
        }
      }
    }
    .data {
      padding: 30px 45px;
      opacity: 1;
      h2 {
        color: #000000;
        font-size: 36px;
        margin: 20px 0 5px;
      }
      h3 {
        font-size: 30px;
        font-weight: 200;
      }
      p {
        font-size: 20px;
        margin: 5px 0 40px;
      }
    }
    .infos {
      border-top: 1px solid #ffffff;
      padding: 30px 45px;
      ul {
        margin: 0 0 40px 0;
        list-style: none;
        li {
          color: #313131;
          line-height: 48px;
          &:before {
            content: url(https://api.iconify.design/bi:check-circle-fill.svg?color=%2378B967&width=21&height=21);
            vertical-align: -0.225em;
            margin-right: 15px;
          }
        }
      }
    }
    .btn {
      border: 2px solid #79b867;
      border-radius: $borde-radius;
      color: #ffffff;
      font-size: 21px;
      line-height: 59px;
      &:hover {
        background-color: #ffffff;
        color: #79b867;
      }
      &.started {
        background-color: #ffffff;
        border: 2px solid #79b867;
        color: #79b867;
        line-height: 59px;
        margin-bottom: 10px;
        &:hover {
          background-color: #79b867;
          color: #ffffff;
        }
      }
    }
  }
}
.bg-green {
  background-color: #ddf8d5;
  color: #374337;
  .grid-x {
    padding: $padding-90;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  p {
    font-size: 24px;
    line-height: 36px;
    margin: 0 auto;
    max-width: 890px;
  }
}

//MAILER LITE
.mailerlite-form {
  form {
    display: flex;
    flex-direction: column;
  }
}
.mailerlite-form-description {
  color: #979797;
  order: 3;
  font-size: 14px;
  max-width: 570px;
  margin: 15px auto 0 !important;
  p {
    margin: 0 !important;
  }
}
.mailerlite-form-title h3 {
  text-align: center;
  font-size: 30px;
  color: #32442d;
  margin-bottom: 25px;
}
.mailerlite-form-field {
  margin-bottom: 13px !important;
  input {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    box-shadow: none;
    color: #656565;
    font-size: 20px;
    height: auto;
    line-height: 37px;
    margin: 0;
    padding: 0.5rem 25px;
    &:focus {
      background: #f2f2f2;
      border: 1px solid #000000;
      box-shadow: none;
    }
  }
}
.mailerlite-subscribe-submit {
  background-color: #ee4586;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 55px;
  padding: 0 25px;
  width: 100%;
  &:hover {
    background-color: #000000;
  }
}
//MAILER LITE BLOG
.mailer-blog {
  .mailerlite-form-inputs {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 13px;
  }
  .mailerlite-subscribe-submit {
    background-color: #79b867;
    &:hover {
      background-color: #000000;
    }
  }
}

/* PAGE - HOME B AND C */
.home-b {
  .btn {
    background-color: #ee4586;
    font-weight: 700;
    &:hover {
      background-color: #000000;
    }
  }
  .home-banner {
    background-image: url("../img/bg-vectors-4.png");
    background-position: center 90%;
  }
  .global-database {
    background-position: center 12%;
  }
  .bg-gray {
    h2 {
      color: #484848;
      font-size: 36px;
    }
  }
}
.home-c {
  .btn {
    background-color: #ee4586;
    font-weight: 700;
    &.outline {
      background-color: transparent;
      border: 1px solid #4c4c4c;
      color: #4c4c4c;
      &:hover {
        background-color: #4c4c4c;
        color: #ffffff;
      }
    }
    &:hover {
      background-color: #000000;
    }
  }
  .home-banner {
    background-image: url("../img/bg-vectors-4.png");
    background-position: center 90%;
    p {
      font-size: 24px;
      margin-bottom: 20px;
      span {
        color: #ee4586;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    .subscribe {
      font-weight: 700;
    }
  }
  .global-database {
    background-position: center 12%;
    h3 {
      font-weight: 400;
    }
  }
  //MAILER LITE
  .mailerlite-form-inputs .two-column {
    margin-bottom: 13px;
  }
  .mailerlite-subscribe-button-container {
    display: grid;
    grid-gap: 13px;
    grid-template-columns: 1fr 1fr;
    &:after {
      align-self: center;
      content: "The information you provide on this form will only be used to provide you with Dropsmith's updates and special offers for personalized marketing. Your privacy is important for us!";
      display: block;
      font-size: 13px;
      line-height: 16px;
      text-align: left;
    }
  }
  .mailerlite-form-response {
    text-align: left;
  }
}
.home-b,
.home-c {
  .home-banner {
    .grid-x {
      padding-bottom: 50px;
    }
  }
  .bounce-effect {
    min-height: 535px;
    position: relative;
    img {
      position: absolute;
      &:nth-child(1) {
        top: 200px;
        right: 0;
      }
      &:nth-child(2) {
        top: 50px;
        right: 100px;
      }
      &:nth-child(3) {
        bottom: 0px;
        right: 30%;
      }
      &:nth-child(4) {
        top: 38%;
        right: 50%;
      }
      &:nth-child(5) {
        left: 0%;
        bottom: 15%;
      }
      &:nth-child(6) {
        left: -7%;
        top: 10%;
      }
    }
  }
  .how-it-works {
    display: flex;
    padding-bottom: 90px;
    #howWorks {
      margin-right: 25px;
      max-width: 802px;
      width: 66%;
      img {
        margin-bottom: 25px;
      }
      p {
        font-size: 20px;
        margin: 0 auto;
        max-width: 715px;
      }
    }
    .owl-thumbs {
      flex: 1;
      width: 100%;
    }
    .owl-thumb-item {
      color: #f42a6d;
      font-size: 18px;
      line-height: 44px;
      margin-bottom: 10px;
      padding: 0 0 0 25px;
      position: relative;
      text-align: left;
      width: 95%;
      img {
        margin-right: 15px;
      }
      &.active {
        background-color: #f42a6d;
        border-radius: 0;
        color: #ffffff;
        font-weight: 700;
        &:before {
          content: "";
          position: absolute;
          left: -14px;
          bottom: 0;
          width: 0;
          height: 0;
          border-right: 14px solid #f42a6d;
          border-top: 22px solid transparent;
          border-bottom: 22px solid transparent;
        }
        img {
          filter: grayscale(100%) contrast(1000%) invert(100%);
        }
      }
    }
  }
}

//PAGE SUPPORT
@media print, screen and (min-width: 48em) {
  .support-col {
    &.large-2 {
      width: calc(20% - 1.875rem);
    }
  }
}

.banner-support {
  background-image: url("../img/bg-vectors-5.png");
  background-position: center top;
  background-repeat: no-repeat;
  .grid-x {
    background-image: url("../img/img-support.jpg");
    background-position: 80% top;
    background-repeat: no-repeat;
    padding-bottom: 90px;
  }
  h1 {
    font-size: 60px;
    margin: 65px 0 195px;
    line-height: 75px;
    text-transform: uppercase;
  }
  h2 {
    color: #999999;
    font-size: 30px;
    text-transform: uppercase;
  }
}
.box-support {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px #03030330;
  margin: 15px auto 25px;
  min-height: 250px;
  max-width: 225px;
  position: relative;
  top: 0px;
  transition: all 0.3s;
  a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  img {
    border-radius: 8px 8px 0 0;
  }
  p {
    color: #000000;
    font-size: 21px;
    line-height: 25px;
    margin: 25px;
  }
  &:hover {
    background-color: #484848;
    top: -10px;
    p {
      color: #ffffff;
    }
  }
}
.accordion-support {
  padding: 70px 0 0;
}
.accordion {
  margin-top: 25px;
  a {
    &:focus,
    &:hover {
      color: #000000;
    }
  }
  .accordion-item {
    border-top: 3px solid #ffffff;
    margin-top: 3px;
  }
  .accordion-content {
    p {
      font-size: 16px;
      margin: 0;
    }
  }
}

// PAGE BLOG
.page-title {
  font-size: 36px;
  color: #4c5b46;
  margin: 15px 0;
}

.blog-page {
  position: relative;
  &:before {
    content: url("../img/bg-vectors-6.png");
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    z-index: -1;
  }
}

.widgettitle,
.title-blog {
  color: #5c6e4c;
  text-transform: uppercase;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  .page-numbers {
    border: 2px solid #7e7e7e;
    min-width: 42px;
    line-height: 38px !important;
    text-align: center;
    border-radius: 30px !important;
    padding: 0 !important;
    margin: 0 5px;
    &.current {
      background: #000000 !important;
      border-color: #000000;
    }
    &.prev,
    &.next {
      border: none;
      &:hover {
        background: transparent;
        color: #000000;
      }
    }
    &:hover {
      background: #000000;
      border-color: #000000;
      color: #ffffff;
    }
  }
}

.popular-posts {
  border-bottom: 1px solid #bdcfb4;
  display: flex;
  margin-bottom: 30px;
  max-width: 500px;
  padding-bottom: 30px;
  &:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  img {
    min-width: 130px;
    border-radius: 10px;
  }
  .data {
    margin-left: 30px;
    h2 {
      color: #5c6e4c;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 15px;
      a {
        color: #5c6e4c;
      }
    }
    p {
      color: #333333;
      font-size: 13px;
      opacity: 0.6;
      a {
        color: #333333;
        font-size: 13px;
      }
      svg {
        font-size: 18px;
        vertical-align: sub;
      }
      .author,
      .date {
        margin-right: 15px;
      }
    }
  }
}

.blog-menu {
  margin: 0 auto 25px !important;
  max-width: 1000px;
  min-height: 100px !important;
  position: relative;
  .large-8 {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
  }
  .social {
    a {
      font-size: 24px;
      color: #000000;
      margin: 0 10px;
      svg {
        vertical-align: middle;
      }
    }
  }
  .search {
    a {
      font-size: 24px;
      color: #000000;
      margin: 0 10px;
      svg {
        vertical-align: middle;
      }
    }
  }
  .menu {
    font-size: 14px;
    a {
      color: #000000;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 0 15px !important;
      text-transform: uppercase;
    }
  }
}
.blog-box {
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 43px;
  .content {
    padding: 35px;
    h2 {
      color: #4c4c4c;
      font-size: 24px;
      font-weight: 700;
      line-height: 27px;
      margin: 20px 0;
      a {
        color: #4c4c4c;
      }
    }
  }
  img {
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
}

.data {
  color: #333333;
  font-size: 13px;
  opacity: 0.6;
  a {
    color: #333333;
    font-size: 13px;
  }
  svg {
    font-size: 18px;
    vertical-align: sub;
  }
  .author,
  .date {
    margin-right: 15px;
  }
}

article {
  h1 {
    color: #4c4c4c;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin: 20px 0;
    a {
      color: #4c4c4c;
    }
  }
  .category {
    display: block;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 21px;
    text-transform: uppercase;
    a {
      color: #427100;
    }
  }
  img {
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
  .content.single {
    padding: 50px 80px 0;
    background: #ffffff;
    .data {
      margin-bottom: 50px;
    }
    .entry-content p {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    .tagcloud {
      padding: 50px 0;
    }
  }
}

.tagcloud a {
  font-size: 13px !important;
  display: inline-block;
  line-height: 29px;
  color: #425c2c;
  border: 1px solid #425c2c;
  padding: 0 25px;
  margin: 0 5px 10px 0;
  border-radius: 30px;
  text-transform: uppercase;
  &:hover {
    background-color: #425c2c;
    color: #ffffff;
  }
}

.widget_categories {
  li {
    color: #425c2c;
  }
  a {
    color: #425c2c;
    line-height: 36px;
    font-size: 14px;
    text-transform: uppercase;
  }
}

//COMMENTS
.comments-area {
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  margin-bottom: 50px;
  padding: 0 80px 90px;
  .comments-title {
    color: #4b4b4b;
    font-size: 24px;
    letter-spacing: 0px;
    margin-bottom: 25px;
    text-transform: uppercase;
    .line {
      display: flex;
      align-items: center;
      &:after {
        content: "";
        border-top: 1px solid #4b4b4b;
        margin: 0px 0px 0px 20px;
        flex: 1 0 20px;
      }
    }
  }
}
.comment-list {
  list-style: none;
  ol {
    list-style: none;
  }
  margin: 0;
  .comment-body {
    display: flex;
    margin-bottom: 50px;
    .comment-author {
      margin-right: 30px;
      min-width: 100px;
      img {
        border-radius: 100%;
      }
    }
    .comment-meta {
      color: #4b4b4b;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}
.comment-respond {
  background: #f0f0f0;
  padding: 40px 50px;
  border-radius: 15px;
}
.comment-form {
  input,
  textarea {
    color: #1c1d31;
    border: 1px solid #ffffff;
    box-shadow: none;
    font-size: 18px;
    height: auto;
    margin-bottom: 13px;
    &:focus {
      border-color: #000000;
    }
  }
  input {
    line-height: 32px;
  }
  textarea {
    padding: 15px 20px;
  }
  .form-submit {
    margin: 0;
  }
  .submit {
    border: 1px solid #000000;
    border-radius: 30px;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    line-height: 44px;
    margin: 20px 0 0 0;
    width: 100%;
    &:hover {
      background-color: #000000;
      color: #ffffff;
    }
  }
}

//TWO COLUMN
.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 13px;
}

//RELATED POSTS
.related-posts {
  margin-bottom: 40px;
}

/* MEDIA QUERIES - MOBILE */
// MEDIA QUERIE 767PX
@media screen and (max-width: 767px) {
  $padding-90: 45px 0;
  // BANNER
  .home-banner {
    text-align: center;
    h1 {
      font-size: 30px;
      margin-top: 0px;
    }
    p {
      font-size: 18px;
    }
    .btn {
      margin: 0 auto 50px;
    }
    .dropsmith-video {
      float: none;
      margin: 0 auto;
    }
  }
  // TESTIMONIALS
  .testimonials {
    .grid-x {
      padding: $padding-90;
    }
    .owl-thumbs {
      .owl-thumb-item {
        margin: 0 5px 15px 5px;
        max-width: 55px;
      }
    }
    .box-testimonials {
      font-size: 18px;
      &:before {
        margin-top: -50px;
      }
      .author {
        font-size: 18px;
      }
      .job-description {
        font-size: 14px;
      }
    }
  }
  //GLOBAL DATABASE
  .global-database {
    .grid-x {
      padding: $padding-90;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 35px;
    }
    h3 {
      font-size: 18px;
      margin-top: 0;
    }
  }
  .milestone {
    margin-bottom: 35px;
  }
  //CONTACT
  .contact {
    .grid-x {
      padding: $padding-90;
    }
    p {
      font-size: 18px;
    }
  }
  //FOOTER
  footer {
    &:after,
    &:before {
      display: none;
    }
    .grid-x {
      padding: 45px 0;
    }
    h2 {
      font-size: 24px;
    }
    nav {
      li {
        width: 100%;
        &:after {
          display: none;
        }
      }
    }
  }
  //PRICING
  .pricing {
    .grid-x {
      padding: 45px 0;
    }
    h1 {
      font-size: 27px;
    }
    h2 {
      font-size: 24px;
    }
  }
  .bg-green {
    .grid-x {
      padding: 45px 0;
    }
  }
  // PAGE SUPPORT
  .banner-support {
    background-image: none;
    .grid-x {
      background-image: none;
      padding: 0;
    }
    h1 {
      font-size: 36px;
      line-height: 45px;
      margin: 45px 0;
    }
  }
  //BLOG
  .blog-box {
    .content {
      padding: 20px;
      h2 {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
  //POSTS SINGLE
  article {
    h1 {
      font-size: 26px;
    }
    .content.single {
      padding: 40px 30px 0;
    }
  }
  .comments-area {
    padding: 0 30px 45px;
  }
  .comment-respond {
    padding: 20px 25px;
    .comment-reply-title {
      color: #4b4b4b;
      font-size: 24px;
      text-transform: uppercase;
    }
  }
  //MAILER LITE
  .mailerlite-form-inputs .two-column {
    margin-bottom: 0px !important;
    grid-gap: 0px;
    grid-template-columns: initial;
  }
  .mailerlite-subscribe-button-container {
    grid-template-columns: initial !important;
  }
  //MAILER LITE BLOG
  .mailer-blog {
    .mailerlite-form-inputs {
      grid-template-columns: initial;
      grid-gap: 0px;
    }
  }
}

// MEDIA QUERIE 1139PX
@media screen and (max-width: 1139px) {
  header {
    .grid-x {
      min-height: 110px;
    }
  }
  .home-banner {
    h1 {
      font-size: 36px;
      margin-top: 0px;
    }
  }
  .testimonials {
    .box-testimonials {
      &:before {
        margin-top: -50px;
      }
    }
  }
  footer {
    &:after,
    &:before {
      display: none;
    }
  }
}
// MEDIA QUERIE 768PX
@media screen and (max-width: 767px) {
  #pricing {
    .box {
      &.yearly {
        h2 {
          margin: 80px 0 5px !important;
        }
      }
      .btn {
        font-size: 18px;
      }
      .data {
        padding: 15px !important;
        h2 {
          font-size: 30px;
        }
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
      .infos {
        font-size: 14px;
        padding: 15px !important;
        ul {
          margin: 0 0 40px !important;
        }
      }
    }
  }
  .reveal {
    max-height: 300px;
  }
  .home-b,
  .home-c {
    .home-banner {
      background-image: none;
      .grid-x {
        padding-bottom: 0;
      }
    }
  }
  .home-b {
    .how-it-works {
      display: block;
      padding-bottom: 45px;
      #howWorks {
        margin-right: 0;
        margin-bottom: 25px;
        max-width: 100%;
        width: 100%;
        p {
          font-size: 16px;
        }
      }
      .owl-thumb-item {
        width: auto;
        padding: 0;
        img {
          margin: 0 15px;
          filter: grayscale(100%) contrast(100%) invert(100%);
        }
        &.active {
          background-color: transparent;
          &:before {
            display: none;
          }
          img {
            filter: grayscale(0%) contrast(100%) invert(0%);
          }
        }
        span {
          display: none;
        }
      }
    }
    .bg-gray {
      h2 {
        font-size: 30px;
      }
    }
  }
}
// MEDIA QUERIE 768 - 1279PX
@media screen and (min-width: 768px) and (max-width: 959px) {
  #pricing {
    .box {
      .btn {
        font-size: 18px;
      }
      .data {
        padding: 25px;
        h2 {
          font-size: 30px;
        }
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
      .infos {
        font-size: 14px;
        padding: 25px;
        ul {
          margin: 0 0 40px !important;
        }
      }
    }
  }
  .home-b {
    .how-it-works {
      padding-bottom: 45px;
      #howWorks {
        margin-right: 15px;
        max-width: 60%;
        p {
          font-size: 16px;
        }
      }
      .owl-thumb-item {
        font-size: 14px;
        line-height: 34px;
        padding: 0 0 0 5px;
        img {
          margin-right: 5px;
          max-width: 15px;
        }
        &.active {
          background-color: transparent;
          &:before {
            border-right: 14px solid #f42a6d;
            border-top: 17px solid transparent;
            border-bottom: 17px solid transparent;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  #pricing {
    .box {
      .data {
        padding: 25px;
      }
      .infos {
        font-size: 16px;
        padding: 25px;
        ul {
          margin: 0 0 40px !important;
        }
      }
    }
  }
  .home-b {
    .how-it-works {
      padding-bottom: 45px;
      #howWorks {
        margin-right: 15px;
        max-width: 63%;
        p {
          font-size: 16px;
        }
      }
      .owl-thumb-item {
        font-size: 14px;
      }
    }
  }
}
